{% load static %}

<footer class="bg-dark text-white mt-5 pt-4 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Forum Studenckie</h5>
                <p class="mb-0">Przestrzeń dla studentów z pasją. Rozwijaj się, rozmawiaj i inspiruj.</p>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
                <img src="{% static 'main/img/Logo_UEK_białe_PL.png' %}" alt="Logo UEK" class="img-fluid"
                     style="max-height: 60px;">
            </div>
            <div class="col-md-3 mt-3 mt-md-0 text-md-end">
                <h6>Masz pytania?</h6>
                <a href="/contact" class="button-dark">Przejdź do strony O nas</a>
            </div>
        </div>
        <hr class="border-light">
        <p class="text-center small mb-0">&copy; 2025 Forum Studenckie. Wszelkie prawa zastrzeżone.</p>
    </div>
</footer>
