{% extends 'main/layout/layout.html' %}

{% block title %}Koło 2{% endblock %}

{% block content %}
    <div class="features">
        <h1>Koło 2</h1>
        <p>Opis 2. koła zainteresowań. Tutaj możesz dodać dowolny tekst opisujący działalność grupy, spotkania, projekty itp.</p>
        <form method="post" action="{% url 'forum:join_kolo' kolo='kolo-2' %}">
             {% csrf_token %}
             <button class="btn btn-primary">Dołącz do Koła</button>
            </form>
    </div>
{% endblock %}
